<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <title>Details Page</title>
        <!-- Do not forget to change the path to the css file -->
        <link href='./static/css/style.css' type='text/css' rel='stylesheet' />
    </head>

    <body>
        <div id='box'>
            <nav>
                <img src='./static/img/logo.webp' alt='logo' />

                <ul class='menu'>
                    <li><a href='/'>Home</a></li>
                    <li><a href='/create'>Create Post</a></li>
                    <li><a href='/search'>Search</a></li>
                    <li><a href='/about'>About</a></li>
                </ul>
            </nav>

            <main>

                <section id='details-page'>
                    <div class='main_card'>
                        <div class='card_left'>
                            <div class='card_datails'>
                                <h1>{{title}}</h1>
                                <div class='card-movie'>
                                    <div class='first-info'>
                                        <p class='card-genre'>Genre: {{genre}}</p>
                                        <p class='card-director'>Directror: {{director}}</p>
                                    </div>
                                    <div class='second-info'>
                                        <p class='card-year'>Year: {{year}}</p>
                                        <p class='card-ranking'>Rating: <span id='stars'>&#x2605; &#x2605; &#x2605; &#x2605;</span></p>
                                    </div>
                                </div>

                                <p class='disc'>
                                    Description:
                                    {{description}}
                                </p>
                                <p class='card-category'>Category: {{category}}</p>
                            </div>
                        </div>
                        <div class='card_right'>
                            <img src='{{imageUrl}}' alt='{{title}}' />
                        </div>
                    </div>
                </section>

            </main>

            <footer>© JS Back-End Workshop</footer>
        </div>
    </body>
</html>