<section class='event-search'>
    <h1 id='title'>Search</h1>

    <form class='search-form' method='GET'>
        <input type='text' class='search-event' name='search' placeholder='Search by Name...' value='{{filter.search}}' />
        <select id='type' name='type'>
            {{!-- <option value='{{filter.type}}' selected>{{filter.type}}</option> --}}
            <option value='' disabled selected>Search by type...</option>
            {{#each types}}
                <option value='{{value}}' {{selected}}>{{label}}</option>
            {{/each}}
            {{! <option value='Wildfire'>Wildfire</option>
            <option value='Flood'>Flood</option>
            <option value='Earthquake'>Earthquake</option>
            <option value='Hurricane'>Hurricane</option>
            <option value='Drought'>Drought</option>
            <option value='Tsunami'>Tsunami</option>
            <option value='Other'>Other</option> }}
        </select>
        <button type='submit' class='btn-search'>Search</button>
    </form>
    {{#each disasters}}
        <div class='search-result'>
            <div class='search-list'>
                <div class='event'>
                    <div class='img'>
                        <img src='{{image}}' />
                    </div>
                    <div class='event-info'>
                        <h1>{{name}}</h1>
                        <p><span>Location: </span>{{location}}</p>
                        <p><span>Type: </span>{{type}}</p>
                    </div>

                    <a href='/disasters/{{_id}}/details' class='btn-details'>Details</a>
                </div>
            </div>
        </div>
    {{else}}
        <div class='no-match'>
            <p>No match was found!</p>
        </div>
    {{/each}}
</section>